# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [3]:
!pip  install pandas
import pandas as pd

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\juana\onedrive\escritorio\ironhack\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
crm_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
crm_df.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [ ]:
#- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
print("Tamaño \n",crm_df.shape)
#- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
#  You should also provide suggestions for fixing any incorrect data types.
print("Tipos \n",crm_df.dtypes)

Tamaño
 (4008, 11)
Tipos
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [7]:
#variables like Cistomer Lifetime Value, Number of Open Complaints have to be "float" or "int"types.
print(crm_df[['Customer Lifetime Value', 'Number of Open Complaints']])

     Customer Lifetime Value Number of Open Complaints
0                        NaN                    1/0/00
1                 697953.59%                    1/0/00
2                1288743.17%                    1/0/00
3                 764586.18%                    1/0/00
4                 536307.65%                    1/0/00
...                      ...                       ...
4003                     NaN                       NaN
4004                     NaN                       NaN
4005                     NaN                       NaN
4006                     NaN                       NaN
4007                     NaN                       NaN

[4008 rows x 2 columns]

In [ ]:
#- Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values
#  for numerical columns, and give your insights.
print("Unicos \n",crm_df.nunique())

'''
Una columna categórica contiene datos que representan categorías o grupos.

"Gender" → Hombre / Mujer
"Education" → Bachiller / Licenciado / Máster
"Policy Type"
"Vehicle Class" → SUV / Deportivo / Lujo
'''

Unicos
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
📊 Columna: Customer
Customer
NaN        2937
WW63253       1
GA49547       1
OC83172       1
XZ87318       1
           ...
BU41599       1
TK30357       1
NF31087       1
NH16984       1
QZ44356       1
Name: count, Length: 1072, dtype: int64
--------------------------------------------------
📊 Columna: ST
ST
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64
--------------------------------------------------
📊 Columna: GENDER
GENDER
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64
--------------------------------------------------
📊 Columna: Education
Education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64
--------------------------------------------------
📊 Columna: Customer Lifetime Value
Customer Lifetime Value
NaN            2940
445811.34%        4
251459.20%        4
477294.38%        3
272535.64%        3
               ...
1447612.49%       1
493688.84%        1
452527.65%        1
558176.13%        1
899704.02%        1
Name: count, Length: 1028, dtype: int64
--------------------------------------------------
📊 Columna: Number of Open Complaints
Number of Open Complaints
NaN       2937
1/0/00     830
1/1/00     138
1/2/00      50
1/3/00      34
1/4/00      13
1/5/00       6
Name: count, dtype: int64
--------------------------------------------------
📊 Columna: Policy Type
Policy Type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64
--------------------------------------------------
📊 Columna: Vehicle Class
Vehicle Class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64
--------------------------------------------------

In [9]:
#unique values for categorical data
categorical_columns = crm_df.select_dtypes(include=['object', 'category']).columns
print("Columnas categóricas:\n", categorical_columns)

Columnas categóricas:
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Number of Open Complaints', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [18]:
# You should also describe the unique values of each categorical column and the range of values
print("Unicos de columnas categóricas \n", crm_df.describe(include=['object','category']))

Unicos de columnas categóricas
        Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     MY31220  Oregon      F  Bachelor              251459.20%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

In [23]:
#  for numerical columns, and give your insights.
crm_df.describe(include=['number']).round(0)

        Income  Monthly Premium Auto  Total Claim Amount
count   1071.0                1071.0              1071.0
mean   39296.0                 193.0               405.0
std    30469.0                1601.0               293.0
min        0.0                  61.0                 0.0
25%    14072.0                  68.0               202.0
50%    36234.0                  83.0               355.0
75%    64631.0                 110.0               533.0
max    99960.0               35354.0              2893.0

In [ ]:
#- Compute summary statistics such as mean, median, mode, standard deviation, 
# and quartiles to understand the central tendency and distribution of the data for numerical columns.
#  You should also provide your conclusions based on these summary statistics.

crm_df.describe().round(1) #round para redondear decimales
'''
En general, el costo que pagan esta bien porque solo en 3 meses ya tienen cubierto los accidentes promedio de los clientes. es decir que todo el dinero adicional a los 4 meses ya es ganancia.
aun los clientes que no generan ingresos, pagan al menos 61 usd. 
Hay personas con ingresos muy bajos (0€) y otras que llegan a casi 100.000€, por lo tanto, podría haber valores atípicos o datos faltantes (ese 0 llama la atención).
El promedio es de 193€, pero el valor máximo es de 35.354€, muchísimo más alto que el 75% de los valores (109,5€). Esto sugiere la presencia de outliers o errores de entrada de datos.
'''

        Income  Monthly Premium Auto  Total Claim Amount
count   1071.0                1071.0              1071.0
mean   39295.7                 193.2               405.0
std    30469.4                1601.2               293.0
min        0.0                  61.0                 0.4
25%    14072.0                  68.0               202.2
50%    36234.0                  83.0               354.7
75%    64631.0                 109.5               532.8
max    99960.0               35354.0              2893.2

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [28]:
crm_df['ST'].value_counts(ascending=True).head(5)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [41]:
policy_counts=crm_df['Policy Type'].value_counts(ascending=False)
top_policy=policy_counts.idxmax()
tp_count=policy_counts.max()
print(top_policy, tp_count)

Personal Auto 780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [48]:
#filtro por tipo de poliza
p_auto=crm_df.loc[crm_df['Policy Type']=='Personal Auto']
c_auto=crm_df.loc[crm_df['Policy Type']=='Corporate Auto']
#ingreso promedio
avg_p_income=p_auto['Income'].mean().round(0)
print(f"ingreso promedio de Personal Auto: {avg_p_income}")
avg_c_income=c_auto['Income'].mean().round(0)
print(f"ingreso promedio de Corporate Auto: {avg_c_income}")

ingreso promedio de Personal Auto: 38181.0
ingreso promedio de Corporate Auto: 41390.0

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [53]:
#calculo percentil 75 del total de reclamaciones
claim_75=crm_df['Total Claim Amount'].quantile(0.75)
print(claim_75)
#filtrar clientes con mas reclamaciones que esas
high_claims=crm_df.loc[crm_df['Total Claim Amount'] >claim_75]
summary_hc=high_claims.describe()
print(summary_hc)

532.8
             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678